#page-landing {
    background: var(--color-primary);
}

#page-landing #container {
    color: var(--color-text-in-primary)
}

.logo-container img {
    height: 10rem;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.6rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;

    border-radius: 0.8rem;

    font: 700 2.4rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    transition: background 200ms ease;

    color: var(--color-button-text);
}

.buttons-container a.study {
    background-color: var(--color-primary-lighter);
    margin-right: 1.6rem;
}

.buttons-container a.study:hover {
    background-color: var(--color-primary-light);
}

.buttons-container img {
    height: 4rem;
    margin-right: 2.4rem;
}

.buttons-container a.give-classes {
    background-color: var(--color-secondary);
}

.buttons-container a.give-classes:hover {
    background: var(--color-secondary-dark);
}

.hero-image {
    width: 100%;
}

.total-connections {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total-connections img {
    margin-left: 0.8rem;
}

@media (max-width: 699px) {
    :root {
        font-size: 40%;
    }
}

@media (min-width: 1100px) {

    /* Requisito de tamanho de tela*/
    #page-landing #container {
        max-width: 1100px;
        /* O tamanho máximo que o layout vai ocupar*/
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        /* Medidas de cada coluna*/
        grid-template-rows: 350px 1fr;
        /* Medidas de cada linha */
        grid-template-areas:
            /* Define os elementos de cada coluna*/
            "logo img img"
            "button button text";
        column-gap: 87px;
        row-gap: 86px;
    }

    .logo-container {
        grid-area: logo;
        text-align: initial;
        align-self: center;
        margin-bottom: 0;
    }

    .logo-container img {
        height: 127px;
    }

    .hero-image {
        grid-area: img;
        height: 350px;
    }

    .buttons-container {
        grid-area: button;
        justify-content: flex-start;
        margin: 0;
    }

    .total-connections {
        justify-content: flex-end;
        grid-area: text;
        font-size: 1.6rem;
    }
}